In [0]:
#write a python program to:
#1. Request a Username
#2. Output "Username, you are welcome to this class"

In [10]:
A = [2,3,4,7,9,20,800]
total = 0
for  i in A:
    total += i**2
print(total)
#'''Write a python program to find sum of squares of the list item'''

640559

In [21]:
B = ["Ayo", "Charles", "Ope", "james", "chika"]
del B[4]
B

#'''Write a python program todelete chika from the list'''

['Ayo', 'Charles', 'Ope', 'james']

In [42]:
#Print all items in the phonebook dictionary

phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}

#Your code here
for a,b in phonebook.items():
    
    print("Phone number of %s is %d" % (a, b))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [41]:
#Delete John from phone book
del(phonebook['John'])
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [43]:
#Add "Jake" to the phonebook with the phone number 938273443, and remove Jill from the phonebook.

phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

# write your code here
phonebook.update({'Jake': 938273443})
print(phonebook)
# testing code
#if "Jake" in phonebook:
    #print("Jake is listed in the phonebook.")
#if "Jill" not in phonebook:
    #print("Jill is not listed in the phonebook.")

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781, 'Jake': 938273443}